@mixin button-styles {
  text-decoration: none;
  border-bottom: 5px solid #41403e !important;
  border-bottom-left-radius: 15px 3px;
  border-bottom-right-radius: 15px 5px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: $theme-button-color;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 0;

  &:hover {
    background-color: $theme-button-hover-color;
    border-bottom: 5px solid #c1c0bd;
  }
}

$theme-button-color: #24b8bd;
$theme-button-hover-color: #14696c;
